<mat-sidenav-container>

  <mat-sidenav #menu>

    <app-menu-list (menuToggle)="menu.toggle()"></app-menu-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <button (click)="menu.toggle()">Abrir Menu</button> -->

    <app-header (menuToggle)="menu.toggle()"></app-header>

    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>


</mat-sidenav-container>

<!--
<button (click)="onToggleSpinner()">Toggle Spinner</button>


<app-spinner *ngIf="showSpinner"></app-spinner>

 almacena multiple imagenes temporalmente
<button appFilesUpload [multiple]="true" (changed)="onFilesChanged($event)">Subir Imágenes al servidor</button>


<button (click)="onSuccess()">Mensaje de exito</button>
<button (click)="onError()">Mensaje de Error</button> -->
